body {
  background: linear-gradient(105deg, #7dd, #dd7);
  margin: auto auto;
  min-width: 270px;
  max-width: 950px;
  font-family: garamond;
  text-align: center;
  color: #282828;
}

header {
  background: linear-gradient(105deg, #7dd, #dd7);
  display: block;
  position: relative;
  margin: 8vh auto;
  padding: 4px;
  width: 60%;
  border: thick solid white;
  border-radius: 24px;
  box-shadow: 0 0 20px 4px rgba(0,0,0,0.2);
  z-index: 2;
}

h2 {
  margin-top: -8px;
  font-size: 20px;
}

#appContents {
  background: rgba(0,0,0,0.3);
  display: flex;
  margin: 16px;
  padding: 0 16px;
  min-height: 280px;
  justify-content: space-between;
}

/* TO-DO: Figure out how to set max-width of side borders */
#appContents::before {
  content: "";
  position: absolute;
  margin: -180px auto;
  width: 1px;
  left: 0;
  right: 0;
  border-left: 48vw solid transparent;
  border-right: 48vw solid transparent;
  border-bottom: 180px solid rgba(0,0,0,0.3);
}

#appContents::after {
  content: "";
  position: absolute;
  margin: -166px auto;
  width: 1px;
  left: 0;
  right: 0;
  border-left: 43vw solid transparent;
  border-right: 43vw solid transparent;
  border-bottom: 160px solid rgba(255,255,255,0.22);
}

.mainContainer {
  background: rgba(255,255,255,0.22);
  padding: 16px;
  margin: auto 16px;
  width: 21vw;
  height: 280px;
  overflow: hidden;
  border-radius: 2%;
}

textarea {
  min-height: 240px;
  width: 97%;
}

.button {
  background: gray;
  overflow: hidden;
  border: 2px solid #222;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.largebtn {
  display: block;
  margin: 6px auto -12px auto;
  padding: 10px;
  min-width: 80px;
}

.option, .button {
  cursor: pointer;
}

#valueDisplay {
  cursor: default;
}

hr {
  border: thin solid gray;
}

#settingsBox {
  min-width: 100px;
  font-weight: bold;
}

#settingsBox::after {
  content: "";
  background: rgba(255,255,255,0.22);
  position: absolute;
  margin: 58px auto;
  left: 2.5%;
  right: 2.5%;
  max-width: 1000px;
  width: 95%;
  height: 64px;
}

#settingsBox::before {
  content: "";
  background: rgba(0,0,0,0.3);
  position: absolute;
  margin: 296px auto;
  left: 1.5%;
  right: 1.5%;
  max-width: 1030px;
  width: 97%;
  height: 76px;
}

.optionContainer {
  background: gray;
  display: flex;
  flex-direction: column;
  padding: 6px;
  border-radius: 5px;
  border: 2px solid lightgray;
}

.option {
  background: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  font-weight: bold;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 610px) {
  #appContents::after, #settingsBox::after, #settingsBox::before, #settingsBox span, #settingsBox hr {
    display: none;
  }
  
  header {
    margin: 4vh auto;
    width: 86%;
  }
  
  h1 {
    font-size: 24px;
  }
  
  h2 {
    font-size: 16px;
  }
  
  #appContents {
    flex-direction: column;
    padding: 16px;
  }
  
  .mainContainer {
    width: auto;
    height: auto;
    margin: 16px 0 0 0;
  }
  
  #inputBox {
    margin-top: 62px;
  }
  
  textarea {
    min-height: 64px;
  }
  
  #settingsBox {
    position: absolute;
    left: 0;
    right: 0;
    padding: 0;
    margin: -38px auto;
    width: 30%;
  }
    
  #valueDisplay {
    flex: 2;
  }

  .incrementer {
    flex: 1;
  }
  
  .optionContainer {
    flex-direction: row;
    padding: 2px;
    height: 40px;
  }
  
  .optionContainer div {
    flex: 1;
  }
  
  #appContents::before {
    border-left: 49vw solid transparent;
    border-right: 49vw solid transparent;
    border-bottom: 106px solid rgba(0,0,0,0.3);;
    margin: -122px auto;
  }
  
  #outputBox::after {
    content: "";
    background: rgba(0,0,0,0.3);
    position: absolute;
    left: 0;
    right: 0;
    margin: 32px 1.5%;
    height: 36px;
  }
}

@media only screen and (max-width: 340px) {
  h1 {
    font-size: 18px;
  }
  
  h2 {
    font-size: 14px;
  }
}
