:root {
  --slate: #7D869C;
  --khaki: #C7AC92;
  --dust: #F9E9D9;
  --purple: #453750;
  --deeppurple: #372C40;
  --lightpurple: #50475F;
}

body {
  background: var(--purple);
  margin: 3vh auto;
  min-width: 310px;
  max-width: 1160px;
  height: 90vh;
  overflow: hidden;
  font-family: Thasadith, arial;
  letter-spacing: 0.11em;
  text-align: center;
  color: var(--dust);
}

header {
  position: relative;
  margin: 3vh 3.8vh;
  padding: 3px;
}

#title-box {
  width: max-content;
}

#bg-shape {
  background: black;
  opacity: 0.2;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

#bg-shape::after {
  content: "";
  background: var(--slate);
  position: absolute;
  top: 0;
  left: 0;
  width: 160%;
  height: 300%;
  border-radius: 50% 0 0 50%;
  z-index: -2;
}

h2 {
  margin-top: -8px;
  font-size: 20px;
}

#james-hooper-logo {
  background-image: url(https://i.ibb.co/p1QTSBF/logo-large-deep-purple-dust.png);
  background-size: contain;
  background-repeat: no-repeat;
  float: right;
  margin-top: -96px;
  margin-right: 12px;
  width: 225px;
  height: 83px;
}

#app-contents {
  display: flex;
  margin: 16px;
  padding: 0 16px;
  min-height: 280px;
  justify-content: space-between;
}

.main-container {
  background: rgba(255,255,255,0.22);
  padding: 16px;
  margin: auto 16px;
  width: 30%;
  overflow: hidden;
  border-radius: 2%;
  box-shadow: 0 2px 22px 2px rgba(0,0,0,0.4);
}

textarea {
  min-height: 58.8vh;
  width: 97%;
  font-size: 16px;
  letter-spacing: 0.09em;
}

#button-container {
  display: flex;
  justify-content: space-between;
}

.button {
  background: gray;
  background: var(--purple);
  position: block;
  overflow: hidden;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 8px 0 rgba(0,0,0,0.15);
  font-family: Thasadith;
  font-size: 16px;
  letter-spacing: 0.2em;
  font-weight: bold;
  color: var(--dust);
}

.largebtn {
  display: block;
  margin: 6px auto -2px auto;
  padding: 10px 14px;
  min-width: 80px;
}

.option, .button {
  transition: background 280ms, color 280ms;
}

.option:hover, .button:hover {
  background: var(--khaki);
  color: var(--deeppurple);
  cursor: pointer;
}

#mobile-copy-button {
  display: none;
}

#value-display {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40%;
  left: 40%;
  width: 20.5%;
  height: 19.5%;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
  color: var(--dust);
}

hr {
  border: thin solid #888;
}

#settings-box {
  min-width: 100px;
  font-weight: bold;
}

.option-container {
  display: flex;
  padding: 6px;
  border-radius: 5px;
}

.option {
  background: var(--purple);
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  margin: 0 6px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 3px 0 10px 0 rgba(0,0,0,0.25);
}

.selected-option {
  background: var(--khaki);
  color: var(--deeppurple);
}

.selected-option:hover {
  background: var(--dust);
}

#offset-wheel {
  background-image: url(https://i.ibb.co/Bn99tCF/caesar-circle-6.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  margin: 10px 0;
  height: 0;
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  box-shadow: 0 0 14px 3px rgba(0,0,0,0.34);
}


/* MEDIA QUERIES */
@media only screen and (max-width: 660px) {
  body {
    width: 100vw;
    height: 100vh;
  }
  
  #bg-shape::after {
    width: 145%;
  }
  
  #title-box {
    margin-top: 40px;
    width: auto;
  }
  
  h2 {
    display: none;
  }
  
  #james-hooper-logo {
    background-image: url(https://i.ibb.co/tsSSpHy/logo-small-deep-purple-dust.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 74px;
    right: -170px;
    z-index: -1;
  }
  
  #app-contents {
    flex-direction: column;
    margin: -22px auto 22px auto;
  }
  
  .main-container {
    width: auto;
    margin: 0;
  }
  
  textarea {
    min-height: 24vh;
  }
  
  #mobile-copy-button {
    display: block;
  }
  
  #output-box {
    display: none;
  }
  
  #offset-wheel {
    float: left;
    width: 45%;
    padding-top: 45%;
    margin: 6px;
  }
  
  #settings-box {
    margin-top: 12px;
  }
  
  #incrementers {
    flex-direction: column-reverse;
  }
  
  #case-sensitive-toggles {
    flex-direction: column;
  }
  
  .option {
    margin: 6px;
  }
}

@media only screen and (max-width: 530px) {
  #case-sensitive-toggles {
    flex-direction: row;
  }
}
