body {
  min-width: 270px;
  font-family: garamond;
  text-align: center;
  color: #282828;
}

#bg {
  background: linear-gradient(105deg, #7dd, #dd7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

header {
  background: linear-gradient(105deg, #7dd, #dd7);
  display: block;
  position: relative;
  margin: 8vh auto;
  padding: 4px;
  width: 60%;
  border: thick solid white;
  border-radius: 24px;
  box-shadow: 0 0 20px 4px rgba(0,0,0,0.2);
  z-index: 2;
}

h2 {
  margin-top: -8px;
  font-size: 20px;
}

#appBoxCont {
  background: rgba(0,0,0,0.3);
  display: flex;
  margin: 16px;
  padding: 16px;
  min-height: 280px;
  justify-content: space-between;
}

#appBoxCont::before {
  content: "";
  position: absolute;
  margin-top: -196px;
  left: 1%;
  right: 1%;
  border-left: 49vw solid transparent;
  border-right: 49vw solid transparent;
  border-bottom: 180px solid rgba(0,0,0,0.3);
}

#appBoxCont::after {
  content: "";
  position: absolute;
  margin-top: -182px;
  left: 2%;
  right: 2%;
  border-left: 48vw solid transparent;
  border-right: 48vw solid transparent;
  border-bottom: 176px solid rgba(255,255,255,0.22);
}

.cont {
  background: rgba(255,255,255,0.22);
  padding: 32px;
  margin: auto 16px;
  width: 21vw;
  height: 230px;
  overflow: hidden;
  border-radius: 2%;
}

textarea {
  min-height: 180px;
  width: 97%;
}

.button {
  background: gray;
  overflow: hidden;
  border: 2px solid #222;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.largebtn {
  display: block;
  margin: 6px auto -12px auto;
  padding: 10px;
  min-width: 80px;
}

.option, .button {
  cursor: pointer;
}

#valueDisplay {
  cursor: default;
}

hr {
  border: thin solid gray;
}

#settingsBox {
  min-width: 100px;
  font-weight: bold;
}

#settingsBox::after {
  content: "";
  background: rgba(255,255,255,0.22);
  position: absolute;
  margin-top: 24px;
  left: 5%;
  width: 90%;
  height: 64px;
}

#settingsBox::before {
  content: "";
  background: rgba(0,0,0,0.3);
  position: absolute;
  margin-top: 278px;
  left: 1.5%;
  width: 97%;
  height: 60px;
}

.optionCont {
  background: gray;
  display: flex;
  flex-direction: column;
  padding: 6px;
  border-radius: 5px;
  border: 2px solid lightgray;
}

.option {
  background: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  font-weight: bold;
}

/* Flex not working in column: should be 1:2:1 ratio */
#valueDisplay {
  flex: 2;
}

.incrementer {
  flex: 1;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 610px) {
  #appBoxCont::after, #settingsBox::after, #settingsBox::before, #settingsBox span, #settingsBox hr {
    display: none;
  }
  
  header {
    margin: 4vh auto;
    width: 86%;
  }
  
  h1 {
    font-size: 24px;
  }
  
  h2 {
    font-size: 16px;
  }
  
  #appBoxCont {
    flex-direction: column;
  }
  
  .cont {
    width: auto;
    height: auto;
    margin: 16px 0 0 0;
  }
  
  #inputBox {
    margin-top: 62px;
  }
  
  textarea {
    min-height: 64px;
  }
  
  #settingsBox {
    position: absolute;
    left: 0;
    right: 0;
    padding: 0;
    margin: -38px auto;
    width: 30%;
  }
  
  .optionCont {
    flex-direction: row;
    padding: 2px;
    height: 40px;
  }
  
  .optionCont div {
    flex: 1;
  }
  
  #appBoxCont::before {
    border-bottom: 106px solid rgba(0,0,0,0.3);;
    margin: -122px 1%;
  }
  
  #outputBox::after {
    content: "";
    background: rgba(0,0,0,0.3);
    position: absolute;
    left: 0;
    right: 0;
    margin: 48px 1%;
    height: 36px;
  }
}

@media only screen and (max-width: 340px) {
  h1 {
    font-size: 18px;
  }
  
  h2 {
    font-size: 14px;
  }
}
